# Introduction to Pandas

In [3]:
import numpy as np
import pandas as pd

**The Pandas Series Object**

* **Series as generalized NumPy array**

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data.values
data.index

* **Series as specialized dictionary**

In [ ]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
population['California': 'Illinois']

The index can be explicitly set if a different result is preferred:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

Note that in this case, the Series is populated only with the explicitly identified keys.

**The Pandas DataFrame Object**

In [8]:
# DataFrame as a generalized NumPy array
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
states = pd.DataFrame({'population': population, 'area': area})
states.index
states.columns
states['area']

* **From a single Series object**

In [ ]:
pd.DataFrame(population, columns=['population'])

* **From a list of dicts**

In [ ]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

Even if some keys in the dictionary are missing, Pandas will fill them with NaN (i.e., "not a number") values:

In [27]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

* **From a dictionary of Series objects**

In [ ]:
pd.DataFrame({'population': population, 'area': area})

* **From a two-dimensional NumPy array**

In [31]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.567502  0.562106
b  0.871926  0.571217
c  0.204628  0.358627

* **From a NumPy structured array**

 ......

**The Pandas Index Object**

In [33]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

* **Index as immutable array**

In [34]:
ind[1]
ind[::2]
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between Index objects and NumPy arrays is that indices are immutable-that is, they cannot be modified via the normal means

* **Index as ordered set**  
The **Index** object follows many of the conventions used by Python's built-in **set** data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way

In [35]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [36]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [37]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [38]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')